--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 204
      message: 
    headers: 
      status: 
      - 204 No Content
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"d41d8cd98f00b204e9800998ecf8427e\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4989"
    body: ""
  recorded_at: Wed, 28 Dec 2011 06:18:50 GMT
- request: 
    method: get
    uri: https://api.github.com/users/avdi
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"e9f8613cdc1b62f213c8fedbb226510c\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4988"
      x-accepted-oauth-scopes: 
      - user
    body: "{\"followers\":171,\"type\":\"User\",\"public_repos\":61,\"location\":\"Pennsylvania, USA\",\"hireable\":false,\"company\":\"ShipRise\",\"email\":\"avdi@avdi.org\",\"avatar_url\":\"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"bio\":null,\"created_at\":\"2008-02-26T19:54:34Z\",\"gravatar_id\":\"4dea430d31b993abaf41cd9b54f8128d\",\"html_url\":\"https://github.com/avdi\",\"blog\":\"http://avdi.org/devblog/\",\"public_gists\":68,\"name\":\"Avdi Grimm\",\"url\":\"https://api.github.com/users/avdi\",\"id\":982,\"following\":34,\"login\":\"avdi\"}"
  recorded_at: Wed, 28 Dec 2011 06:18:50 GMT
recorded_with: VCR 2.0.0.rc1
