---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 01 Aug 2012 19:38:49 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"ddb253ed98ca6098d5078df699ed28ee"'
      x-ratelimit-remaining:
      - '4984'
      last-modified:
      - Tue, 31 Jul 2012 06:09:16 GMT
      x-oauth-scopes:
      - repo
      x-ratelimit-limit:
      - '5000'
      x-accepted-oauth-scopes:
      - user
    body:
      encoding: ASCII-8BIT
      string: ! '{"followers":302,"type":"User","blog":"http://avdi.org/devblog/","gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","following":34,"location":"Pennsylvania,
        USA","hireable":false,"login":"avdi","public_repos":71,"html_url":"https://github.com/avdi","name":"Avdi
        Grimm","email":"avdi@avdi.org","url":"https://api.github.com/users/avdi","avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","public_gists":86,"created_at":"2008-02-26T19:54:34Z","company":"ShipRise","bio":null,"id":982}'
  recorded_at: Wed, 01 Aug 2012 19:38:51 GMT
recorded_with: VCR 2.2.4
