--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 204
      message: 
    headers: 
      status: 
      - 204 No Content
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"d41d8cd98f00b204e9800998ecf8427e\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4992"
    body: ""
  recorded_at: Sun, 15 Jan 2012 19:38:45 GMT
- request: 
    method: get
    uri: https://api.github.com/users/avdi
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"f750a3b07a1f183f7b1332b16f2dba2e\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4991"
      x-accepted-oauth-scopes: 
      - user
    body: "{\"type\":\"User\",\"created_at\":\"2008-02-26T19:54:34Z\",\"email\":\"avdi@avdi.org\",\"bio\":null,\"public_repos\":61,\"url\":\"https://api.github.com/users/avdi\",\"login\":\"avdi\",\"followers\":181,\"blog\":\"http://avdi.org/devblog/\",\"following\":33,\"gravatar_id\":\"4dea430d31b993abaf41cd9b54f8128d\",\"avatar_url\":\"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"public_gists\":72,\"html_url\":\"https://github.com/avdi\",\"name\":\"Avdi Grimm\",\"location\":\"Pennsylvania, USA\",\"id\":982,\"company\":\"ShipRise\",\"hireable\":false}"
  recorded_at: Sun, 15 Jan 2012 19:38:45 GMT
recorded_with: VCR 2.0.0.rc1
