---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      x-oauth-scopes:
      - repo
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4983'
    body: ''
  recorded_at: Tue, 19 Jun 2012 02:34:31 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"0ed86e7798036036c205af4db8ad5126"'
      last-modified:
      - Wed, 23 May 2012 22:22:07 GMT
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4982'
      x-accepted-oauth-scopes:
      - user
    body: ! '{"type":"User","login":"avdi","blog":"http://avdi.org/devblog/","email":"avdi@avdi.org","followers":274,"public_gists":86,"following":34,"gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","created_at":"2008-02-26T19:54:34Z","location":"Pennsylvania,
      USA","company":"ShipRise","url":"https://api.github.com/users/avdi","hireable":false,"name":"Avdi
      Grimm","avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","public_repos":69,"bio":null,"id":982,"html_url":"https://github.com/avdi"}'
  recorded_at: Tue, 19 Jun 2012 02:34:31 GMT
recorded_with: VCR 2.0.0.rc1
