---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-remaining:
      - '4969'
      x-ratelimit-limit:
      - '5000'
      x-oauth-scopes:
      - repo
    body: ''
  recorded_at: Sat, 21 Jul 2012 05:42:21 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - user
      etag:
      - ! '"526d2fe752e02f9d1c74b4bbd54230ed"'
      last-modified:
      - Sat, 14 Jul 2012 06:31:09 GMT
      x-ratelimit-remaining:
      - '4968'
      x-ratelimit-limit:
      - '5000'
    body: ! '{"type":"User","email":"avdi@avdi.org","created_at":"2008-02-26T19:54:34Z","gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","followers":299,"html_url":"https://github.com/avdi","company":"ShipRise","public_gists":86,"blog":"http://avdi.org/devblog/","avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","public_repos":70,"name":"Avdi
      Grimm","hireable":false,"following":34,"location":"Pennsylvania, USA","id":982,"login":"avdi","bio":null,"url":"https://api.github.com/users/avdi"}'
  recorded_at: Sat, 21 Jul 2012 05:42:21 GMT
recorded_with: VCR 2.0.0.rc1
