--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 204
      message: 
    headers: 
      status: 
      - 204 No Content
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"d41d8cd98f00b204e9800998ecf8427e\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4997"
    body: ""
  recorded_at: Mon, 09 Jan 2012 02:31:54 GMT
- request: 
    method: get
    uri: https://api.github.com/users/avdi
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"1c5ce32320a58cc20b20e43775836557\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4996"
      x-accepted-oauth-scopes: 
      - user
    body: "{\"type\":\"User\",\"location\":\"Pennsylvania, USA\",\"company\":\"ShipRise\",\"email\":\"avdi@avdi.org\",\"bio\":null,\"followers\":178,\"blog\":\"http://avdi.org/devblog/\",\"avatar_url\":\"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"created_at\":\"2008-02-26T19:54:34Z\",\"login\":\"avdi\",\"gravatar_id\":\"4dea430d31b993abaf41cd9b54f8128d\",\"following\":34,\"html_url\":\"https://github.com/avdi\",\"public_repos\":61,\"name\":\"Avdi Grimm\",\"public_gists\":68,\"url\":\"https://api.github.com/users/avdi\",\"id\":982,\"hireable\":false}"
  recorded_at: Mon, 09 Jan 2012 02:31:55 GMT
recorded_with: VCR 2.0.0.rc1
