---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
  response:
    status:
      code: 204
      message: !!null 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4983'
    body: ''
  recorded_at: Sun, 15 Jan 2012 19:38:37 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"bd2349fc1bde922b61f07cdfeac7fc06"'
      x-ratelimit-remaining:
      - '4982'
    body: ! '{"type":"User","created_at":"2008-02-26T19:54:34Z","email":"avdi@avdi.org","hireable":false,"url":"https://api.github.com/users/avdi","login":"avdi","bio":null,"followers":181,"following":33,"blog":"http://avdi.org/devblog/","name":"Avdi
      Grimm","public_repos":61,"location":"Pennsylvania, USA","id":982,"public_gists":72,"html_url":"https://github.com/avdi","company":"ShipRise","gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png"}'
  recorded_at: Sun, 15 Jan 2012 19:38:37 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers
    body: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"aebf5d991fcf8b694bb9cfa44ea663d9"'
      link:
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=7>;
        rel="last"
      x-ratelimit-remaining:
      - '4981'
    body: ! '[{"url":"https://api.github.com/users/cypher","login":"cypher","id":978,"gravatar_id":"0176d9564601b43d75aff59f2cceed88","avatar_url":"https://secure.gravatar.com/avatar/0176d9564601b43d75aff59f2cceed88?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png"},{"ur[...]
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers?page=2
    body: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"edc143234ec55194fe52d91abbcf8a32"'
      link:
      - <https://api.github.com/users/avdi/followers?page=3>; rel="next", <https://api.github.com/users/avdi/fo[...]
- request:
    method: get
    uri: https://api.github.com/
    body: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: !!null 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4983'
    body: ''
  recorded_at: Mon, 16 Jan 2012 02:45:57 GMT
[...]
