--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/
    body: ""
    headers: 
  response: 
    status: 
      code: 204
      message: 
    headers: 
      status: 
      - 204 No Content
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"d41d8cd98f00b204e9800998ecf8427e\""
      x-ratelimit-remaining: 
      - "4983"
    body: ""
  recorded_at: Mon, 09 Jan 2012 02:31:47 GMT
- request: 
    method: get
    uri: https://api.github.com/users/avdi
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"5e05997c27c90427eb94717e21190940\""
      x-ratelimit-remaining: 
      - "4982"
    body: "{\"public_gists\":68,\"type\":\"User\",\"location\":\"Pennsylvania, USA\",\"company\":\"ShipRise\",\"blog\":\"http://avdi.org/devblog/\",\"email\":\"avdi@avdi.org\",\"followers\":178,\"html_url\":\"https://github.com/avdi\",\"created_at\":\"2008-02-26T19:54:34Z\",\"avatar_url\":\"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"login\":\"avdi\",\"gravatar_id\":\"4dea430d31b993abaf41cd9b54f8128d\",\"following\":34,\"public_repos\":61,\"name\":\"Avdi Grimm\",\"hireable\":false,\"url\":\"https://api.github.com/users/avdi\",\"id\":982,\"bio\":null}"
  recorded_at: Mon, 09 Jan 2012 02:31:47 GMT
- request: 
    method: get
    uri: https://api.github.com/users/avdi/followers
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"b7dff97d815604b8ac8dc648b24061aa\""
      link: 
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=6>; rel="last"
      x-ratelimit-remaining: 
      - "4981"
    body: "[{\"gravatar_id\":\"0176d9564601b43d75aff59f2cceed88\",\"login\":\"cypher\",\"avatar_url\":\"https://secure.gravatar.com/avatar/0176d9564601b43d75aff59f2cceed88?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"url\":\"https://api.github.com/users/cypher\",\"id\"[...]
- request: 
    method: get
    uri: https://api.github.com/users/avdi/followers?page=2
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"533094412fe6f405e9be5c60094645e5\""
      link: 
      - <https://api.github.com/users/avdi/followers?page=3>; rel="next", <https://api.github.com/users/avdi[...]
