---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4986'
    body: ''
  recorded_at: Tue, 19 Jun 2012 02:34:19 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"a447fbaa813a2678ffad5a4f505cbde4"'
      last-modified:
      - Wed, 23 May 2012 22:22:07 GMT
      x-ratelimit-remaining:
      - '4985'
    body: ! '{"public_gists":86,"type":"User","login":"avdi","email":"avdi@avdi.org","avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","blog":"http://avdi.org/devblog/","followers":274,"following":34,"gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","public_repos":69,"created_at":"2008-02-26T19:54:34Z","location":"Pennsylvania,
      USA","company":"ShipRise","url":"https://api.github.com/users/avdi","hireable":false,"name":"Avdi
      Grimm","bio":null,"id":982,"html_url":"https://github.com/avdi"}'
  recorded_at: Tue, 19 Jun 2012 02:34:19 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"f8a6b3a0326d730c92271f065106e3b3"'
      last-modified:
      - Mon, 18 Jun 2012 19:59:17 GMT
      link:
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=10>;
        rel="last"
      x-ratelimit-remaining:
      - '4984'
    body: ! '[{"login":"cypher","gravatar_id":"0176d9564601b43d75aff59f2cceed88","url":"https://api.github.com/users/cypher","avatar_url":"https://secure.gravatar.com/avatar/0176d9564601b43d75aff59f2cceed88?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":978},{"l[...]
- request:
    method: get
    uri: https://api.github.com/
    body: ! '{"body":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4989'
    body: ''
  recorded_at: Fri, 20 Jul 2012 17:36:24 GMT
recorded_with: VCR 2.0.0.rc1
