---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4978'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 01 Aug 2012 19:38:36 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"8e1218a0c822681eb4f83e8835693f4d"'
      x-ratelimit-remaining:
      - '4977'
      last-modified:
      - Tue, 31 Jul 2012 06:09:16 GMT
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: ! '{"followers":302,"type":"User","blog":"http://avdi.org/devblog/","gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","following":34,"location":"Pennsylvania,
        USA","hireable":false,"login":"avdi","public_repos":71,"html_url":"https://github.com/avdi","name":"Avdi
        Grimm","email":"avdi@avdi.org","url":"https://api.github.com/users/avdi","avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","public_gists":86,"created_at":"2008-02-26T19:54:34Z","company":"ShipRise","bio":null,"id":982}'
  recorded_at: Wed, 01 Aug 2012 19:38:37 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4976'
      etag:
      - ! '"78b3435d5ac6b1eda8613e65d9768ae9"'
      link:
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=11>;
        rel="last"
      last-modified:
      - Wed, 01 Aug 2012 15:34:30 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '[{"gravatar_id":"4c64dd1fc1e50d91b712f73cfb77a7aa","avatar_url":"https://secure.gravatar.com/avatar/4c64dd1fc1e50d91b712f73cfb77a7aa?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"einarj","[...]
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      link:
      - <https://api.github.com/users/avdi/followers?page=3>; rel="next", <https://api.github.com/users/avdi/followers?page=11>;
        rel="last", <https://api.github.com/users[...]
