--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/
    body: ""
    headers: 
  response: 
    status: 
      code: 204
      message: 
    headers: 
      status: 
      - 204 No Content
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"d41d8cd98f00b204e9800998ecf8427e\""
      x-ratelimit-remaining: 
      - "4971"
    body: ""
  recorded_at: Mon, 09 Jan 2012 02:31:52 GMT
- request: 
    method: get
    uri: https://api.github.com/users/avdi
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"43f2cc11fd40adca76555bad5d353be3\""
      x-ratelimit-remaining: 
      - "4970"
    body: "{\"type\":\"User\",\"location\":\"Pennsylvania, USA\",\"avatar_url\":\"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"followers\":178,\"company\":\"ShipRise\",\"email\":\"avdi@avdi.org\",\"gravatar_id\":\"4dea430d31b993abaf41cd9b54f8128d\",\"blog\":\"http://avdi.org/devblog/\",\"created_at\":\"2008-02-26T19:54:34Z\",\"login\":\"avdi\",\"hireable\":false,\"html_url\":\"https://github.com/avdi\",\"bio\":null,\"following\":34,\"name\":\"Avdi Grimm\",\"public_gists\":68,\"url\":\"https://api.github.com/users/avdi\",\"id\":982,\"public_repos\":61}"
  recorded_at: Mon, 09 Jan 2012 02:31:52 GMT
- request: 
    method: get
    uri: https://api.github.com/users/avdi/followers
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"616a5756ed1998655bccfa04a1a1e770\""
      link: 
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=6>; rel="last"
      x-ratelimit-remaining: 
      - "4969"
    body: "[{\"login\":\"cypher\",\"gravatar_id\":\"0176d9564601b43d75aff59f2cceed88\",\"avatar_url\":\"https://secure.gravatar.com/avatar/0176d9564601b43d75aff59f2cceed88?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"url\":\"https://api.github.com/users/cypher\",\"id\"[...]
- request: 
    method: get
    uri: https://api.github.com/users/avdi/followers?page=2
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"af893520f817f12d78b339fb96b0b831\""
      link: 
      - <https://api.github.com/users/avdi/followers?page=3>; rel="next", <https://api.github.com/users/avdi[...]
[...]
