---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-remaining:
      - '4967'
      x-ratelimit-limit:
      - '5000'
    body: ''
  recorded_at: Sat, 21 Jul 2012 05:42:16 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4966'
      last-modified:
      - Sat, 14 Jul 2012 06:31:09 GMT
      etag:
      - ! '"0b82161b269fe0da2da0c7f16a03b714"'
    body: ! '{"type":"User","email":"avdi@avdi.org","created_at":"2008-02-26T19:54:34Z","blog":"http://avdi.org/devblog/","hireable":false,"followers":299,"bio":null,"avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","html_url":"https://github.com/avdi","public_gists":86,"name":"Avdi
      Grimm","gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","following":34,"company":"ShipRise","location":"Pennsylvania,
      USA","id":982,"login":"avdi","public_repos":70,"url":"https://api.github.com/users/avdi"}'
  recorded_at: Sat, 21 Jul 2012 05:42:16 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-remaining:
      - '4965'
      last-modified:
      - Fri, 20 Jul 2012 15:49:14 GMT
      etag:
      - ! '"cfbf5851436bd7fcfebc4004e97841af"'
      link:
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=10>;
        rel="last"
      x-ratelimit-limit:
      - '5000'
    body: ! '[{"gravatar_id":"4c64dd1fc1e50d91b712f73cfb77a7aa","avatar_url":"https://secure.gravatar.com/avatar/4c64dd1fc1e50d91b712f73cfb77a7aa?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":906081,"login":"einarj","url":"https://api.github.com/users/einarj"},{"gr[...]
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers?page=2
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      link:
      - <https://api.github.com/users/avdi/followers?page=3>; rel="next", <https://api.github.com/users/avdi/followers?page=10>;
        rel="last", <https://api.github.com/users/avdi/followers?page=1>; rel="first",
 [...]
[...]
