--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/
    body: ""
    headers: 
  response: 
    status: 
      code: 204
      message: 
    headers: 
      status: 
      - 204 No Content
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"d41d8cd98f00b204e9800998ecf8427e\""
      x-ratelimit-remaining: 
      - "4968"
    body: ""
  recorded_at: Wed, 28 Dec 2011 06:18:49 GMT
- request: 
    method: get
    uri: https://api.github.com/users/avdi
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"52145dd1ffa7a2375ebf280a4c694163\""
      x-ratelimit-remaining: 
      - "4949"
    body: "{\"followers\":171,\"type\":\"User\",\"public_repos\":61,\"hireable\":false,\"html_url\":\"https://github.com/avdi\",\"location\":\"Pennsylvania, USA\",\"company\":\"ShipRise\",\"email\":\"avdi@avdi.org\",\"bio\":null,\"public_gists\":68,\"created_at\":\"2008-02-26T19:54:34Z\",\"gravatar_id\":\"4dea430d31b993abaf41cd9b54f8128d\",\"avatar_url\":\"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"name\":\"Avdi Grimm\",\"url\":\"https://api.github.com/users/avdi\",\"id\":982,\"following\":34,\"blog\":\"http://avdi.org/devblog/\",\"login\":\"avdi\"}"
  recorded_at: Wed, 28 Dec 2011 06:36:39 GMT
- request: 
    method: get
    uri: https://api.github.com/users/avdi/followers
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"b30633d1549ac349988d5d5f9ca9057a\""
      link: 
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=6>; rel="last"
      x-ratelimit-remaining: 
      - "4948"
    body: "[{\"avatar_url\":\"https://secure.gravatar.com/avatar/0176d9564601b43d75aff59f2cceed88?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"gravatar_id\":\"0176d9564601b43d75aff59f2cceed88\",\"url\":\"https://api.github.com/users/cypher\",\"id\":978,\"login\":\"cyph[...]
- request: 
    method: get
    uri: https://api.github.com/users/avdi/followers?page=2
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"ce398b23dbd5a5ac745a330a54c81b5c\""
      link: 
      - <https://api.github.com/users/avdi/followers?page=3>; rel="next", <https://api.github.com/users/avdi[...]
[...]
