---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
  response:
    status:
      code: 204
      message: !!null 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4979'
    body: ''
  recorded_at: Sun, 15 Jan 2012 19:38:38 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"9e78ad4b12ffa1233d23da898cb36fe5"'
      x-ratelimit-remaining:
      - '4978'
    body: ! '{"type":"User","created_at":"2008-02-26T19:54:34Z","email":"avdi@avdi.org","hireable":false,"url":"https://api.github.com/users/avdi","avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"avdi","followers":181,"following":33,"bio":null,"html_url":"https://github.com/avdi","public_repos":61,"name":"Avdi
      Grimm","location":"Pennsylvania, USA","id":982,"public_gists":72,"company":"ShipRise","blog":"http://avdi.org/devblog/","gravatar_id":"4dea430d31b993abaf41cd9b54f8128d"}'
  recorded_at: Sun, 15 Jan 2012 19:38:39 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers
    body: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"99950526db17633a0dfcefcf5a64bcbc"'
      link:
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=7>;
        rel="last"
      x-ratelimit-remaining:
      - '4977'
    body: ! '[{"url":"https://api.github.com/users/cypher","login":"cypher","avatar_url":"https://secure.gravatar.com/avatar/0176d9564601b43d75aff59f2cceed88?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":978,"gravatar_id":"0176d9564601b43d75aff59f2cceed88"},{"ur[...]
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers?page=2
    body: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"98a3cd05962b2e131d81cca6dca3e4d9"'
      link:
      - <https://api.github.com/users/avdi/followers?page=3>; rel="next", <https://api.github.com/users/avdi/fo[...]
[...]
- request:
    method: get
    uri: https://api.github.com/
    body: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: !!null 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4979'
    body: ''
  recorded_at: Mon, 16 Jan 2012 02:45:59 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers?page=7
    body: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"15f160c065051a5d475d964dedc65953"'
      link:
      - <https://api.github.com/users/avdi/followers?page=1>; rel="first", <https://api.github.com/users/avdi/followers?page=6>;
        rel="prev"
      x-ratelimit-remaining:
      - '4971'
    body: ! '[{"avatar_url":"https://secure.gravatar.com/avatar/1eee564cc8f619a40bf731ed9aa509e5?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/yudina-m","login":"yudina-m","id":767836,"gravatar_id":"1eee564cc8f619a40bf731ed9aa509e5"},{"avatar_url":"https://secure.gravatar.com/avatar/04c06e0b7356f5c27b6666814e969e46?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/beffa","login":"beffa","id":68353,"gravatar_id":"04c06e0b7356f5c27b6666814e969e46"}]'
  recorded_at: Mon, 16 Jan 2012 02:46:01 GMT
recorded_with: VCR 2.0.0.rc1
