---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
  response:
    status:
      code: 204
      message: !!null 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4986'
    body: ''
  recorded_at: Sun, 15 Jan 2012 19:38:36 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"4062a9125e6f2d265be5d9e2059bb611"'
      x-ratelimit-remaining:
      - '4985'
    body: ! '{"type":"User","public_gists":72,"created_at":"2008-02-26T19:54:34Z","email":"avdi@avdi.org","bio":null,"avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/avdi","login":"avdi","followers":181,"following":33,"html_url":"https://github.com/avdi","name":"Avdi
      Grimm","location":"Pennsylvania, USA","id":982,"public_repos":61,"company":"ShipRise","blog":"http://avdi.org/devblog/","hireable":false,"gravatar_id":"4dea430d31b993abaf41cd9b54f8128d"}'
  recorded_at: Sun, 15 Jan 2012 19:38:36 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers
    body: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"eb01c45aa06961b3a983448c80d7ddfe"'
      link:
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=7>;
        rel="last"
      x-ratelimit-remaining:
      - '4984'
    body: ! '[{"url":"https://api.github.com/users/cypher","login":"cypher","gravatar_id":"0176d9564601b43d75aff59f2cceed88","id":978,"avatar_url":"https://secure.gravatar.com/avatar/0176d9564601b43d75aff59f2cceed88?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png"},{"ur[...]
- request:
    method: get
    uri: https://api.github.com/
    body: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: !!null 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4986'
    body: ''
  recorded_at: Mon, 16 Jan 2012 02:45:56 GMT
[...]
