--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/
    body: ""
    headers: 
  response: 
    status: 
      code: 204
      message: 
    headers: 
      status: 
      - 204 No Content
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"d41d8cd98f00b204e9800998ecf8427e\""
      x-ratelimit-remaining: 
      - "4970"
    body: ""
  recorded_at: Sun, 15 Jan 2012 19:38:41 GMT
- request: 
    method: get
    uri: https://api.github.com/users/avdi
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"3318aa5883e462e54c8e97cb1e76accf\""
      x-ratelimit-remaining: 
      - "4969"
    body: "{\"type\":\"User\",\"public_repos\":61,\"public_gists\":72,\"created_at\":\"2008-02-26T19:54:34Z\",\"email\":\"avdi@avdi.org\",\"url\":\"https://api.github.com/users/avdi\",\"login\":\"avdi\",\"followers\":181,\"following\":33,\"hireable\":false,\"bio\":null,\"name\":\"Avdi Grimm\",\"blog\":\"http://avdi.org/devblog/\",\"avatar_url\":\"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"location\":\"Pennsylvania, USA\",\"id\":982,\"html_url\":\"https://github.com/avdi\",\"company\":\"ShipRise\",\"gravatar_id\":\"4dea430d31b993abaf41cd9b54f8128d\"}"
  recorded_at: Sun, 15 Jan 2012 19:38:41 GMT
- request: 
    method: get
    uri: https://api.github.com/users/avdi/followers
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"99950526db17633a0dfcefcf5a64bcbc\""
      link: 
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=7>; rel="last"
      x-ratelimit-remaining: 
      - "4968"
    body: "[{\"url\":\"https://api.github.com/users/cypher\",\"login\":\"cypher\",\"avatar_url\":\"https://secure.gravatar.com/avatar/0176d9564601b43d75aff59f2cceed88?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"id\":978,\"gravatar_id\":\"0176d9564601b43d75aff59f2cceed[...]
- request: 
    method: get
    uri: https://api.github.com/users/avdi/followers?page=2
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"164b3f635b6979e8b3d907e8f3867cb0\""
      link: 
      - <https://api.github.com/users/avdi/followers?page=3>; rel="next", <https://api.github.com/users/avdi[...]
[...]
