---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-remaining:
      - '4974'
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 01 Aug 2012 19:38:37 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-remaining:
      - '4973'
      etag:
      - ! '"8e1218a0c822681eb4f83e8835693f4d"'
      x-ratelimit-limit:
      - '5000'
      last-modified:
      - Tue, 31 Jul 2012 06:09:16 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"followers":302,"type":"User","public_repos":71,"hireable":false,"blog":"http://avdi.org/devblog/","bio":null,"gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","public_gists":86,"following":34,"location":"Pennsylvania,
        USA","login":"avdi","html_url":"https://github.com/avdi","name":"Avdi Grimm","email":"avdi@avdi.org","url":"https://api.github.com/users/avdi","created_at":"2008-02-26T19:54:34Z","company":"ShipRise","id":982,"avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png"}'
  recorded_at: Wed, 01 Aug 2012 19:38:39 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-remaining:
      - '4972'
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"78b3435d5ac6b1eda8613e65d9768ae9"'
      last-modified:
      - Wed, 01 Aug 2012 15:34:30 GMT
      link:
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=11>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: ! '[{"gravatar_id":"4c64dd1fc1e50d91b712f73cfb77a7aa","avatar_url":"https://secure.gravatar.com/avatar/4c64dd1fc1e50d91b712f73cfb77a7aa?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"einarj","url":"https://api.github.com/users/einarj","id":906081},{"g[...]
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      link:
      - <https://api.github.com/users/avdi/followers?page=3>; rel="next", <https://api.github.com/users/avdi/followers?page=11>;
        rel="last", <https://api.github.com/users[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers?page=11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      last-modified:
      - Wed, 01 Aug 2012 13:57:21 GMT
      etag:
      - ! '"69daed9cc4e3ff5bdbc8d32304da4865"'
      x-ratelimit-remaining:
      - '4962'
      x-ratelimit-limit:
      - '5000'
      link:
      - <https://api.github.com/users/avdi/followers?page=1>; rel="first", <https://api.github.com/users/avdi/followers?page=10>;
        rel="prev"
    body:
      encoding: ASCII-8BIT
      string: ! '[{"gravatar_id":"8033aad7274e920185c1e273c5107a43","login":"gcman105","url":"https://api.github.com/users/gcman105","avatar_url":"https://secure.gravatar.com/avatar/8033aad7274e920185c1e273c5107a43?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":460778},{"gravatar_id":"dcb5f35f8e285c6dd71d801b938ee868","login":"Poapfel","url":"https://api.github.com/users/Poapfel","avatar_url":"https://secure.gravatar.com/avatar/dcb5f35f8e285c6dd71d801b938ee868?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":717420}]'
  recorded_at: Wed, 01 Aug 2012 19:38:42 GMT
recorded_with: VCR 2.2.4
