---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-oauth-scopes:
      - repo
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4973'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 01 Aug 2012 19:39:00 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-remaining:
      - '4972'
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"5d02babf97893a4583b7052dec00a037"'
      last-modified:
      - Fri, 27 Jul 2012 04:06:17 GMT
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - repo
    body:
      encoding: ASCII-8BIT
      string: ! '{"collaborators":0,"followers":0,"type":"Organization","private_gists":0,"billing_email":"avdi@shiprise.net","public_repos":0,"disk_usage":22816,"following":0,"location":null,"total_private_repos":5,"avatar_url":"https://secure.gravatar.com/avatar/6dd3c12e97a46ff08c358542cae955e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png","blog":"http://shiprise.net","login":"ShipRise","owned_private_repos":5,"html_url":"https://github.com/ShipRise","name":"ShipRise","email":null,"url":"https://api.github.com/orgs/ShipRise","created_at":"2011-10-27T20:49:51Z","company":null,"id":1156570,"plan":{"private_repos":10,"space":2516582,"name":"bronze"},"public_gists":0}'
  recorded_at: Wed, 01 Aug 2012 19:39:00 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise/teams
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-remaining:
      - '4971'
      x-oauth-scopes:
      - repo
      last-modified:
      - Mon, 09 Jul 2012 22:52:35 GMT
      x-accepted-oauth-scopes:
      - repo
      etag:
      - ! '"ae0dfae72ca6d563953a4ca8f906e03b"'
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: ! '[{"url":"https://api.github.com/teams/111894","name":"BitBindery
        Development","id":111894,"permission":"push"},{"url":"https://api.github.com/teams/210238","name":"BitBindery
        Test Team","id":210238,"permission":"pull"},{"url":"https://api.github.com/teams/127491","name":"Leadlight
        Test Team","id":127491,"permission":"pull"},{"url":"https://api.github.com/teams/176711","name":"Objects
        on Rails Readers","id":176711,"permission":"pull"},{"url":"https://api.github.com/teams/104018","name":"Owners","id":104018,"permission":"admin"},{"url":"https://api.github.com/teams/154780","name":"Publishing","id":154780,"permission":"push"},{"url":"https://api.github.com/teams/148656","name":"ShipRise
        Internal","id":148656,"permission":"pull"}]'
  recorded_at: Wed, 01 Aug 2012 19:39:00 GMT
- request:
    method: get
    uri: https://api.github.com/teams/127491
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"7873ec2b76a99d0d68e8010119dd9e25"'
      x-accepted-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4970'
      x-oauth-scopes:
      - repo
      last-modified:
      - Sat, 20 Oct 2007 11:24:19 GMT
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: ! '{"repos_count":0,"members_count":0,"url":"https://api.github.com/teams/127491","name":"Leadlight
        Test Team","id":127491,"permission":"pull"}'
  recorded_at: Wed, 01 Aug 2012 19:39:01 GMT
recorded_with: VCR 2.2.4
