---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-limit:
      - '5000'
    body: ''
  recorded_at: Sat, 21 Jul 2012 06:23:22 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      last-modified:
      - Sat, 21 Jul 2012 05:38:32 GMT
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"a132e9d424b27c101304dfb05adadac3"'
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4994'
    body: ! '{"private_gists":0,"type":"Organization","email":"avdi@shiprise.net","created_at":"2011-10-27T20:49:51Z","blog":"http://shiprise.net","followers":0,"avatar_url":"https://secure.gravatar.com/avatar/6dd3c12e97a46ff08c358542cae955e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png","html_url":"https://github.com/ShipRise","company":null,"total_private_repos":5,"disk_usage":22520,"plan":{"space":2516582,"private_repos":10,"name":"bronze"},"public_repos":0,"owned_private_repos":5,"collaborators":0,"name":"ShipRise","billing_email":"avdi@shiprise.net","public_gists":0,"following":0,"location":null,"id":1156570,"login":"ShipRise","url":"https://api.github.com/orgs/ShipRise"}'
  recorded_at: Sat, 21 Jul 2012 06:23:22 GMT
- request:
    method: get
    uri: https://api.github.com/teams
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-remaining:
      - '4993'
      x-ratelimit-limit:
      - '5000'
      x-oauth-scopes:
      - repo
    body: ! '{"message":"Not Found"}'
  recorded_at: Sat, 21 Jul 2012 06:23:22 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise/teams
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-accepted-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4992'
      last-modified:
      - Mon, 09 Jul 2012 22:52:35 GMT
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"ae0dfae72ca6d563953a4ca8f906e03b"'
      x-oauth-scopes:
      - repo
    body: ! '[{"permission":"push","name":"BitBindery Development","id":111894,"url":"https://api.github.com/teams/111894"},{"permission":"pull","name":"BitBindery
      Test Team","id":210238,"url":"https://api.github.com/teams/210238"},{"permission":"pull","name":"Leadlight
      Test Team","id":127491,"url":"https://api.github.com/teams/127491"},{"permission":"pull","name":"Objects
      on Rails Readers","id":176711,"url":"https://api.github.com/teams/176711"},{"permission":"admin","name":"Owners","id":104018,"url":"https://api.github.com/teams/104018"},{"permission":"push","name":"Publishing","id":154780,"url":"https://api.github.com/teams/154780"},{"permission":"pull","name":"ShipRise
      Internal","id":148656,"url":"https://api.github.com/teams/148656"}]'
  recorded_at: Sat, 21 Jul 2012 06:37:59 GMT
- request:
    method: get
    uri: https://api.github.com/teams/127491
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-remaining:
      - '4991'
      x-accepted-oauth-scopes:
      - repo
      x-oauth-scopes:
      - repo
      last-modified:
      - Sat, 20 Oct 2007 11:24:19 GMT
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"7873ec2b76a99d0d68e8010119dd9e25"'
    body: ! '{"repos_count":0,"permission":"pull","name":"Leadlight Test Team","members_count":0,"id":127491,"url":"https://api.github.com/teams/127491"}'
  recorded_at: Sat, 21 Jul 2012 06:37:59 GMT
recorded_with: VCR 2.0.0.rc1
