---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4983'
    body: ''
  recorded_at: Mon, 18 Jun 2012 00:35:34 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"a447fbaa813a2678ffad5a4f505cbde4"'
      last-modified:
      - Wed, 23 May 2012 22:22:07 GMT
      x-ratelimit-remaining:
      - '4982'
    body: ! '{"type":"User","login":"avdi","email":"avdi@avdi.org","hireable":false,"avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","followers":274,"bio":null,"public_repos":69,"public_gists":86,"following":34,"gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","created_at":"2008-02-26T19:54:34Z","location":"Pennsylvania,
      USA","company":"ShipRise","url":"https://api.github.com/users/avdi","html_url":"https://github.com/avdi","name":"Avdi
      Grimm","id":982,"blog":"http://avdi.org/devblog/"}'
  recorded_at: Mon, 18 Jun 2012 00:35:34 GMT
recorded_with: VCR 2.0.0.rc1
