---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4999'
    body: ''
  recorded_at: Mon, 06 Feb 2012 21:11:23 GMT
- request:
    method: get
    uri: https://api.github.com/not_exist
    body: ''
    headers:
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"e66a7a6c91e2c26803f3f49feb7a883f"'
      x-ratelimit-remaining:
      - '4998'
    body: ! '{"message":"Not Found"}'
  recorded_at: Mon, 06 Feb 2012 21:11:23 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"c5c28456b021cca2a722c58983a4e081"'
      x-ratelimit-remaining:
      - '4997'
    body: ! '{"type":"User","blog":"http://avdi.org/devblog/","url":"https://api.github.com/users/avdi","public_repos":61,"hireable":false,"avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","html_url":"https://github.com/avdi","public_gists":73,"following":33,"bio":null,"gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","login":"avdi","followers":200,"location":"Pennsylvania,
      USA","name":"Avdi Grimm","company":"ShipRise","id":982,"created_at":"2008-02-26T19:54:34Z","email":"avdi@avdi.org"}'
  recorded_at: Mon, 06 Feb 2012 21:13:13 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"e83323661b46ebf08cc1d5f6f8fa2c5e"'
      link:
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=7>;
        rel="last"
      x-ratelimit-remaining:
      - '4996'
    body: ! '[{"url":"https://api.github.com/users/cypher","gravatar_id":"0176d9564601b43d75aff59f2cceed88","login":"cypher","avatar_url":"https://secure.gravatar.com/avatar/0176d9564601b43d75aff59f2cceed88?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":978},{"ur[...]
