---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4999'
    body: ''
  recorded_at: Tue, 19 Jun 2012 02:34:26 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"6f850a5c45f73a503f5ad4295b4aa793"'
      last-modified:
      - Sun, 20 May 2012 18:37:54 GMT
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4998'
      x-accepted-oauth-scopes:
      - repo
    body: ! '{"plan":{"space":2516582,"name":"bronze","private_repos":10},"type":"Organization","login":"ShipRise","private_gists":0,"email":"avdi@shiprise.net","followers":0,"following":0,"public_repos":0,"created_at":"2011-10-27T20:49:51Z","blog":"http://shiprise.net","location":null,"total_private_repos":5,"collaborators":0,"company":null,"url":"https://api.github.com/orgs/ShipRise","owned_private_repos":5,"billing_email":"avdi@shiprise.net","name":"Leadlight
      Ephemeral Team","avatar_url":"https://secure.gravatar.com/avatar/6dd3c12e97a46ff08c358542cae955e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png","id":1156570,"disk_usage":22480,"public_gists":0,"html_url":"https://github.com/ShipRise"}'
  recorded_at: Tue, 19 Jun 2012 02:34:27 GMT
- request:
    method: post
    uri: https://api.github.com/orgs/shiprise/teams
    body: ! '{"name":"Leadlight Ephemeral Team","permission":"pull"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"1e9ee248e134002b77a70a447099343a"'
      location:
      - https://api.github.com/teams/200367
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4997'
      x-accepted-oauth-scopes:
      - repo
    body: ! '{"members_count":0,"url":"https://api.github.com/teams/200367","permission":"pull","repos_count":0,"name":"Leadlight
      Ephemeral Team","id":200367}'
  recorded_at: Tue, 19 Jun 2012 02:34:27 GMT
- request:
    method: delete
    uri: https://api.github.com/teams/200367
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4996'
      x-accepted-oauth-scopes:
      - repo
    body: ''
  recorded_at: Tue, 19 Jun 2012 02:34:27 GMT
recorded_with: VCR 2.0.0.rc1
