---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: !!null 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4985'
    body: ''
  recorded_at: Mon, 16 Jan 2012 04:50:22 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"08a3c9cddbbd6fe2819b345e19634c09"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4984'
      x-accepted-oauth-scopes:
      - repo
    body: ! '{"type":"Organization","collaborators":0,"created_at":"2011-10-27T20:49:51Z","email":"avdi@shiprise.net","url":"https://api.github.com/orgs/ShipRise","login":"ShipRise","plan":{"space":2516582,"private_repos":10,"name":"bronze"},"followers":0,"blog":"http://shiprise.net","total_private_repos":1,"public_repos":0,"following":0,"billing_email":"avdi@shiprise.net","owned_private_repos":1,"disk_usage":552,"public_gists":0,"html_url":"https://github.com/ShipRise","name":"Leadlight
      Ephemeral Team","avatar_url":"https://secure.gravatar.com/avatar/6dd3c12e97a46ff08c358542cae955e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png","location":null,"id":1156570,"private_gists":0,"company":null}'
  recorded_at: Mon, 16 Jan 2012 04:50:22 GMT
- request:
    method: post
    uri: https://api.github.com/orgs/shiprise/teams
    body: ! '{"name":"Leadlight Ephemeral Team","permission":"pull"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 201
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"054dbeddef24cd45b014dc0fcdb45654"'
      location:
      - https://api.github.com/teams/130176
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4983'
      x-accepted-oauth-scopes:
      - repo
    body: ! '{"url":"https://api.github.com/teams/130176","name":"Leadlight Ephemeral
      Team","permission":"pull","members_count":0,"repos_count":0,"id":130176}'
  recorded_at: Mon, 16 Jan 2012 04:50:22 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/teams/130176
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"ceecc29b7574f9776b0e76cc4946fd42"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4981'
      x-accepted-oauth-scopes:
      - repo
    body: ! '{"members_count":0,"repos_count":0,"url":"https://api.github.com/teams/130176","permission":"pull","name":"Leadlight
      Ephemeral Team","id":130176}'
  recorded_at: Mon, 16 Jan 2012 04:50:23 GMT
[...]
- request:
    method: delete
    uri: https://api.github.com/orgs/shiprise/teams
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 404
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"e66a7a6c91e2c26803f3f49feb7a883f"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4979'
      x-accepted-oauth-scopes:
      - repo
    body: ! '{"message":"Not Found"}'
  recorded_at: Mon, 16 Jan 2012 04:52:55 GMT
recorded_with: VCR 2.0.0.rc1
