---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-limit:
      - '5000'
      x-oauth-scopes:
      - repo
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 01 Aug 2012 19:38:45 GMT
- request:
    method: get
    uri: https://api.github.com/users/leadlight-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"eafac876698e5fee8675ae11fe3ef9fd"'
      x-accepted-oauth-scopes:
      - user
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4994'
      last-modified:
      - Mon, 09 Jan 2012 02:38:20 GMT
      x-oauth-scopes:
      - repo
    body:
      encoding: ASCII-8BIT
      string: ! '{"type":"User","gravatar_id":"71a3f4f0d28bcb9c10fe96bbfce8fef8","login":"leadlight-test","following":0,"avatar_url":"https://secure.gravatar.com/avatar/71a3f4f0d28bcb9c10fe96bbfce8fef8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","public_gists":0,"created_at":"2012-01-09T02:38:20Z","html_url":"https://github.com/leadlight-test","public_repos":0,"followers":0,"url":"https://api.github.com/users/leadlight-test","id":1314019}'
  recorded_at: Wed, 01 Aug 2012 19:38:46 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - repo
      etag:
      - ! '"5d02babf97893a4583b7052dec00a037"'
      x-ratelimit-remaining:
      - '4992'
      last-modified:
      - Fri, 27 Jul 2012 04:06:17 GMT
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: ! '{"disk_usage":22816,"public_repos":0,"type":"Organization","login":"ShipRise","private_gists":0,"following":0,"location":null,"email":null,"created_at":"2011-10-27T20:49:51Z","avatar_url":"https://secure.gravatar.com/avatar/6dd3c12e97a46ff08c358542cae955e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png","blog":"http://shiprise.net","total_private_repos":5,"html_url":"https://github.com/ShipRise","company":null,"owned_private_repos":5,"collaborators":0,"plan":{"space":2516582,"name":"bronze","private_repos":10},"followers":0,"name":"ShipRise","url":"https://api.github.com/orgs/ShipRise","billing_email":"avdi@shiprise.net","id":1156570,"public_gists":0}'
  recorded_at: Wed, 01 Aug 2012 19:38:46 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise/teams
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"ae0dfae72ca6d563953a4ca8f906e03b"'
      x-accepted-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4991'
      x-oauth-scopes:
      - repo
      last-modified:
      - Mon, 09 Jul 2012 22:52:35 GMT
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: ! '[{"url":"https://api.github.com/teams/111894","name":"BitBindery
        Development","id":111894,"permission":"push"},{"url":"https://api.github.com/teams/210238","name":"BitBindery
        Test Team","id":210238,"permission":"pull"},{"url":"https://api.github.com/teams/127491","name":"Leadlight
        Test Team","id":127491,"permission":"pull"},{"url":"https://api.github.com/teams/176711","name":"Objects
        on Rails Readers","id":176711,"permission":"pull"},{"url":"https://api.github.com/teams/104018","name":"Owners","id":104018,"permission":"admin"},{"url":"https://api.github.com/teams/154780","name":"Publishing","id":154780,"permission":"push"},{"url":"https://api.github.com/teams/148656","name":"ShipRise
        Internal","id":148656,"permission":"pull"}]'
  recorded_at: Wed, 01 Aug 2012 19:38:46 GMT
- request:
    method: get
    uri: https://api.github.com/teams/127491
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4990'
      x-accepted-oauth-scopes:
      - repo
      etag:
      - ! '"7873ec2b76a99d0d68e8010119dd9e25"'
      x-oauth-scopes:
      - repo
      last-modified:
      - Sat, 20 Oct 2007 11:24:19 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"repos_count":0,"members_count":0,"permission":"pull","url":"https://api.github.com/teams/127491","name":"Leadlight
        Test Team","id":127491}'
  recorded_at: Wed, 01 Aug 2012 19:38:47 GMT
- request:
    method: put
    uri: https://api.github.com/teams/127491/members/leadlight-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 01 Aug 2012 19:38:48 GMT
- request:
    method: get
    uri: https://api.github.com/teams/127491/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-remaining:
      - '4988'
      x-oauth-scopes:
      - repo
      last-modified:
      - Wed, 01 Aug 2012 19:38:58 GMT
      x-accepted-oauth-scopes:
      - repo
      etag:
      - ! '"6093f9ee30540372345b27ca7c742dac"'
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: ! '[{"gravatar_id":"71a3f4f0d28bcb9c10fe96bbfce8fef8","login":"leadlight-test","url":"https://api.github.com/users/leadlight-test","avatar_url":"https://secure.gravatar.com/avatar/71a3f4f0d28bcb9c10fe96bbfce8fef8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":1314019}]'
  recorded_at: Wed, 01 Aug 2012 19:38:48 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/teams/127491/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"d751713988987e9331980363e24189ce"'
      x-accepted-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4986'
      x-oauth-scopes:
      - repo
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Wed, 01 Aug 2012 19:38:49 GMT
recorded_with: VCR 2.2.4
