---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 01 Aug 2012 19:38:44 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - repo
      etag:
      - ! '"5d02babf97893a4583b7052dec00a037"'
      x-ratelimit-remaining:
      - '4998'
      last-modified:
      - Fri, 27 Jul 2012 04:06:17 GMT
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: ! '{"disk_usage":22816,"public_repos":0,"type":"Organization","login":"ShipRise","private_gists":0,"following":0,"location":null,"email":null,"created_at":"2011-10-27T20:49:51Z","avatar_url":"https://secure.gravatar.com/avatar/6dd3c12e97a46ff08c358542cae955e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png","blog":"http://shiprise.net","total_private_repos":5,"html_url":"https://github.com/ShipRise","company":null,"owned_private_repos":5,"collaborators":0,"plan":{"space":2516582,"name":"bronze","private_repos":10},"followers":0,"name":"ShipRise","url":"https://api.github.com/orgs/ShipRise","billing_email":"avdi@shiprise.net","id":1156570,"public_gists":0}'
  recorded_at: Wed, 01 Aug 2012 19:38:45 GMT
- request:
    method: post
    uri: https://api.github.com/orgs/shiprise/teams
    body:
      encoding: UTF-8
      string: ! '{"name":"Leadlight Ephemeral Team","permission":"pull"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-accepted-oauth-scopes:
      - repo
      x-oauth-scopes:
      - repo
      location:
      - https://api.github.com/teams/221852
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4997'
      etag:
      - ! '"0f4b70cba58d59944bdab4af3b41a24f"'
    body:
      encoding: US-ASCII
      string: ! '{"repos_count":0,"members_count":0,"url":"https://api.github.com/teams/221852","name":"Leadlight
        Ephemeral Team","id":221852,"permission":"pull"}'
  recorded_at: Wed, 01 Aug 2012 19:38:45 GMT
- request:
    method: delete
    uri: https://api.github.com/teams/221852
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4996'
      x-accepted-oauth-scopes:
      - repo
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 01 Aug 2012 19:38:45 GMT
recorded_with: VCR 2.2.4
