---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4956'
    body: ''
  recorded_at: Sat, 21 Jul 2012 05:55:42 GMT
- request:
    method: get
    uri: https://api.github.com/users/leadlight-test
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-oauth-scopes:
      - repo
      etag:
      - ! '"eafac876698e5fee8675ae11fe3ef9fd"'
      x-ratelimit-remaining:
      - '4955'
      x-accepted-oauth-scopes:
      - user
      x-ratelimit-limit:
      - '5000'
      last-modified:
      - Mon, 09 Jan 2012 02:38:20 GMT
    body: ! '{"public_repos":0,"type":"User","created_at":"2012-01-09T02:38:20Z","gravatar_id":"71a3f4f0d28bcb9c10fe96bbfce8fef8","followers":0,"html_url":"https://github.com/leadlight-test","avatar_url":"https://secure.gravatar.com/avatar/71a3f4f0d28bcb9c10fe96bbfce8fef8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","public_gists":0,"following":0,"id":1314019,"login":"leadlight-test","url":"https://api.github.com/users/leadlight-test"}'
  recorded_at: Sat, 21 Jul 2012 05:55:42 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      last-modified:
      - Sat, 21 Jul 2012 05:38:32 GMT
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4953'
      etag:
      - ! '"a132e9d424b27c101304dfb05adadac3"'
      x-accepted-oauth-scopes:
      - repo
    body: ! '{"plan":{"private_repos":10,"name":"bronze","space":2516582},"public_repos":0,"type":"Organization","owned_private_repos":5,"disk_usage":22520,"public_gists":0,"html_url":"https://github.com/ShipRise","login":"ShipRise","private_gists":0,"billing_email":"avdi@shiprise.net","email":"avdi@shiprise.net","created_at":"2011-10-27T20:49:51Z","following":0,"location":null,"avatar_url":"https://secure.gravatar.com/avatar/6dd3c12e97a46ff08c358542cae955e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png","collaborators":0,"name":"ShipRise","blog":"http://shiprise.net","id":1156570,"total_private_repos":5,"followers":0,"company":null,"url":"https://api.github.com/orgs/ShipRise"}'
  recorded_at: Sat, 21 Jul 2012 05:55:43 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise/teams
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      last-modified:
      - Mon, 09 Jul 2012 22:52:35 GMT
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4952'
      etag:
      - ! '"ae0dfae72ca6d563953a4ca8f906e03b"'
      x-accepted-oauth-scopes:
      - repo
    body: ! '[{"permission":"push","name":"BitBindery Development","id":111894,"url":"https://api.github.com/teams/111894"},{"permission":"pull","name":"BitBindery
      Test Team","id":210238,"url":"https://api.github.com/teams/210238"},{"permission":"pull","name":"Leadlight
      Test Team","id":127491,"url":"https://api.github.com/teams/127491"},{"permission":"pull","name":"Objects
      on Rails Readers","id":176711,"url":"https://api.github.com/teams/176711"},{"permission":"admin","name":"Owners","id":104018,"url":"https://api.github.com/teams/104018"},{"permission":"push","name":"Publishing","id":154780,"url":"https://api.github.com/teams/154780"},{"permission":"pull","name":"ShipRise
      Internal","id":148656,"url":"https://api.github.com/teams/148656"}]'
  recorded_at: Sat, 21 Jul 2012 05:55:43 GMT
- request:
    method: get
    uri: https://api.github.com/teams/127491
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-accepted-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4951'
      x-oauth-scopes:
      - repo
      x-ratelimit-limit:
      - '5000'
      last-modified:
      - Sat, 20 Oct 2007 11:24:19 GMT
      etag:
      - ! '"7873ec2b76a99d0d68e8010119dd9e25"'
    body: ! '{"repos_count":0,"permission":"pull","members_count":0,"name":"Leadlight
      Test Team","id":127491,"url":"https://api.github.com/teams/127491"}'
  recorded_at: Sat, 21 Jul 2012 05:55:43 GMT
- request:
    method: put
    uri: https://api.github.com/teams/127491/members/leadlight-test
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-remaining:
      - '4950'
      x-accepted-oauth-scopes:
      - repo
      x-oauth-scopes:
      - repo
      x-ratelimit-limit:
      - '5000'
    body: ''
  recorded_at: Sat, 21 Jul 2012 05:55:43 GMT
- request:
    method: get
    uri: https://api.github.com/teams/127491/members
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-oauth-scopes:
      - repo
      etag:
      - ! '"6fbdf1f4d9a83745be87edd44609a09d"'
      x-ratelimit-remaining:
      - '4949'
      x-accepted-oauth-scopes:
      - repo
      x-ratelimit-limit:
      - '5000'
      last-modified:
      - Sat, 21 Jul 2012 05:55:45 GMT
    body: ! '[{"gravatar_id":"71a3f4f0d28bcb9c10fe96bbfce8fef8","avatar_url":"https://secure.gravatar.com/avatar/71a3f4f0d28bcb9c10fe96bbfce8fef8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":1314019,"login":"leadlight-test","url":"https://api.github.com/users/leadlight-test"}]'
  recorded_at: Sat, 21 Jul 2012 05:55:44 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/teams
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-remaining:
      - '4998'
      x-ratelimit-limit:
      - '5000'
      x-oauth-scopes:
      - repo
    body: ! '{"message":"Not Found"}'
  recorded_at: Sat, 21 Jul 2012 06:23:21 GMT
recorded_with: VCR 2.0.0.rc1
