---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: !!null 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4961'
    body: ''
  recorded_at: Mon, 09 Jan 2012 04:26:51 GMT
- request:
    method: get
    uri: https://api.github.com/users/leadlight-test
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"840c0261b10d96847d2cae0bbe7aa71e"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4960'
      x-accepted-oauth-scopes:
      - user
    body: ! '{"type":"User","followers":0,"html_url":"https://github.com/leadlight-test","created_at":"2012-01-09T02:38:20Z","login":"leadlight-test","gravatar_id":"71a3f4f0d28bcb9c10fe96bbfce8fef8","public_repos":0,"following":0,"public_gists":0,"url":"https://api.github.com/users/leadlight-test","id":1314019,"avatar_url":"https://secure.gravatar.com/avatar/71a3f4f0d28bcb9c10fe96bbfce8fef8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png"}'
  recorded_at: Mon, 09 Jan 2012 04:26:51 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"c6a60d604b660c4c194cb914dd0da09a"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4958'
      x-accepted-oauth-scopes:
      - repo
    body: ! '{"type":"Organization","location":null,"plan":{"private_repos":10,"space":2516582,"name":"bronze"},"followers":0,"company":null,"blog":"http://shiprise.net","email":"avdi@shiprise.net","disk_usage":552,"total_private_repos":1,"billing_email":"avdi@shiprise.net","created_at":"2011-10-27T20:49:51Z","login":"ShipRise","avatar_url":"https://secure.gravatar.com/avatar/6dd3c12e97a46ff08c358542cae955e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png","owned_private_repos":1,"public_gists":0,"following":0,"private_gists":0,"public_repos":0,"name":"ShipRise","html_url":"https://github.com/ShipRise","url":"https://api.github.com/orgs/ShipRise","id":1156570,"collaborators":0}'
  recorded_at: Mon, 09 Jan 2012 04:26:52 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise/teams
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"7bacecfddc356d3ba366ba12652db603"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4957'
      x-accepted-oauth-scopes:
      - repo
    body: ! '[{"name":"BitBindery Development","url":"https://api.github.com/teams/111894","id":111894},{"name":"Leadlight
      Test Team","url":"https://api.github.com/teams/127491","id":127491},{"name":"Owners","url":"https://api.github.com/teams/104018","id":104018}]'
  recorded_at: Mon, 09 Jan 2012 04:26:52 GMT
- request:
    method: get
    uri: https://api.github.com/teams/127491
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"028df71b90485d72587c23be1161baed"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4956'
      x-accepted-oauth-scopes:
      - repo
    body: ! '{"repos_count":0,"permission":"pull","name":"Leadlight Test Team","members_count":1,"url":"https://api.github.com/teams/127491","id":127491}'
  recorded_at: Mon, 09 Jan 2012 04:26:53 GMT
- request:
    method: put
    uri: https://api.github.com/teams/127491/members/leadlight-test
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: !!null 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4955'
      x-accepted-oauth-scopes:
      - repo
    body: ''
  recorded_at: Mon, 09 Jan 2012 04:26:53 GMT
- request:
    method: get
    uri: https://api.github.com/teams/127491/members
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"584015087edc658ced2457c05965827a"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4954'
      x-accepted-oauth-scopes:
      - repo
    body: ! '[{"gravatar_id":"71a3f4f0d28bcb9c10fe96bbfce8fef8","login":"leadlight-test","avatar_url":"https://secure.gravatar.com/avatar/71a3f4f0d28bcb9c10fe96bbfce8fef8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/leadlight-test","id":1314019}]'
  recorded_at: Mon, 09 Jan 2012 04:26:53 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/teams/127491/members
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d751713988987e9331980363e24189ce"'
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4952'
      x-accepted-oauth-scopes:
      - repo
    body: ! '[]'
  recorded_at: Mon, 09 Jan 2012 04:29:57 GMT
recorded_with: VCR 2.0.0.rc1
