---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-remaining:
      - '4946'
      x-oauth-scopes:
      - repo
      x-ratelimit-limit:
      - '5000'
    body: ''
  recorded_at: Sat, 21 Jul 2012 06:03:29 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - repo
      etag:
      - ! '"a132e9d424b27c101304dfb05adadac3"'
      last-modified:
      - Sat, 21 Jul 2012 05:38:32 GMT
      x-ratelimit-remaining:
      - '4945'
      x-ratelimit-limit:
      - '5000'
    body: ! '{"type":"Organization","email":"avdi@shiprise.net","total_private_repos":5,"collaborators":0,"created_at":"2011-10-27T20:49:51Z","followers":0,"owned_private_repos":5,"html_url":"https://github.com/ShipRise","company":null,"disk_usage":22520,"plan":{"space":2516582,"private_repos":10,"name":"bronze"},"public_gists":0,"blog":"http://shiprise.net","avatar_url":"https://secure.gravatar.com/avatar/6dd3c12e97a46ff08c358542cae955e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png","private_gists":0,"public_repos":0,"name":"ShipRise","billing_email":"avdi@shiprise.net","following":0,"location":null,"id":1156570,"login":"ShipRise","url":"https://api.github.com/orgs/ShipRise"}'
  recorded_at: Sat, 21 Jul 2012 06:03:29 GMT
- request:
    method: post
    uri: https://api.github.com/orgs/shiprise/teams
    body: ! '{"name":"Leadlight Ephemeral Team","permission":"pull"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      location:
      - https://api.github.com/teams/216406
      etag:
      - ! '"d19dea3190f06f04bd38bf8d91f79bde"'
      x-accepted-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4944'
      x-oauth-scopes:
      - repo
      x-ratelimit-limit:
      - '5000'
    body: ! '{"permission":"pull","repos_count":0,"name":"Leadlight Ephemeral Team","members_count":0,"id":216406,"url":"https://api.github.com/teams/216406"}'
  recorded_at: Sat, 21 Jul 2012 06:03:29 GMT
- request:
    method: delete
    uri: https://api.github.com/teams/216406
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4943'
      x-ratelimit-limit:
      - '5000'
    body: ''
  recorded_at: Sat, 21 Jul 2012 06:03:30 GMT
recorded_with: VCR 2.0.0.rc1
