--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 204
      message: 
    headers: 
      status: 
      - 204 No Content
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"d41d8cd98f00b204e9800998ecf8427e\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4999"
    body: ""
  recorded_at: Sun, 15 Jan 2012 19:38:43 GMT
- request: 
    method: get
    uri: https://api.github.com/users/leadlight-test
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"9f36bc2e54d4dfe4cce0040c2c1a4594\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4998"
      x-accepted-oauth-scopes: 
      - user
    body: "{\"type\":\"User\",\"public_gists\":0,\"created_at\":\"2012-01-09T02:38:20Z\",\"avatar_url\":\"https://secure.gravatar.com/avatar/71a3f4f0d28bcb9c10fe96bbfce8fef8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"url\":\"https://api.github.com/users/leadlight-test\",\"login\":\"leadlight-test\",\"followers\":0,\"following\":0,\"html_url\":\"https://github.com/leadlight-test\",\"id\":1314019,\"public_repos\":0,\"gravatar_id\":\"71a3f4f0d28bcb9c10fe96bbfce8fef8\"}"
  recorded_at: Sun, 15 Jan 2012 19:38:43 GMT
[...]
- request: 
    method: get
    uri: https://api.github.com/orgs/shiprise
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"5e3c5fb8b3ef2d076c983277730720d0\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4996"
      x-accepted-oauth-scopes: 
      - repo
    body: "{\"type\":\"Organization\",\"collaborators\":0,\"created_at\":\"2011-10-27T20:49:51Z\",\"email\":\"avdi@shiprise.net\",\"total_private_repos\":1,\"public_repos\":0,\"url\":\"https://api.github.com/orgs/ShipRise\",\"login\":\"ShipRise\",\"plan\":{\"private_repos\":10,\"space\":2516582,\"name\":\"bronze\"},\"followers\":0,\"blog\":\"http://shiprise.net\",\"owned_private_repos\":1,\"following\":0,\"billing_email\":\"avdi@shiprise.net\",\"avatar_url\":\"https://secure.gravatar.com/avatar/6dd3c12e97a46ff08c358542cae955e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png\",\"disk_usage\":552,\"public_gists\":0,\"html_url\":\"https://github.com/ShipRise\",\"name\":\"ShipRise\",\"location\":null,\"id\":1156570,\"private_gists\":0,\"company\":null}"
  recorded_at: Sun, 15 Jan 2012 19:38:44 GMT
- request: 
    method: get
    uri: https://api.github.com/orgs/shiprise/teams
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"00457d8d71ef8c5f77fd729ddcc288b7\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4995"
      x-accepted-oauth-scopes: 
      - repo
    body: "[{\"url\":\"https://api.github.com/teams/111894\",\"name\":\"BitBindery Development\",\"id\":111894},{\"url\":\"https://api.github.com/teams/127491\",\"name\":\"Leadlight Test Team\",\"id\":127491},{\"url\":\"https://api.github.com/teams/104018\",\"name\":\"Owners\",\"id\":104018}]"
  recorded_at: Sun, 15 Jan 2012 19:38:44 GMT
- request: 
    method: get
    uri: https://api.github.com/teams/127491
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"c8fb299f3c9bf7ddfd50e5ce06275345\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4986"
      x-accepted-oauth-scopes: 
      - repo
    body: "{\"members_count\":0,\"repos_count\":0,\"url\":\"https://api.github.com/teams/127491\",\"permission\":\"pull\",\"name\":\"Leadlight Test Team\",\"id\":127491}"
  recorded_at: Sun, 15 Jan 2012 19:39:51 GMT
- request: 
    method: put
    uri: https://api.github.com/teams/127491/members/leadlight-test
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 204
      message: 
    headers: 
      status: 
      - 204 No Content
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"d41d8cd98f00b204e9800998ecf8427e\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4985"
      x-accepted-oauth-scopes: 
      - repo
    body: ""
  recorded_at: Sun, 15 Jan 2012 19:39:51 GMT
- request: 
    method: get
    uri: https://api.github.com/teams/127491/members
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"e851f02487ca5c26e7770f526f22e4a1\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4984"
      x-accepted-oauth-scopes: 
      - repo
    body: "[{\"avatar_url\":\"https://secure.gravatar.com/avatar/71a3f4f0d28bcb9c10fe96bbfce8fef8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"url\":\"https://api.github.com/users/leadlight-test\",\"login\":\"leadlight-test\",\"id\":1314019,\"gravatar_id\":\"71a3f4f0d28bcb9c10fe96bbfce8fef8\"}]"
  recorded_at: Sun, 15 Jan 2012 19:39:51 GMT
[...]
- request: 
    method: get
    uri: https://api.github.com/teams/127491/members
    body: ""
    headers: 
      Authorization: 
      - <AUTH FILTERED>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"d751713988987e9331980363e24189ce\""
      x-oauth-scopes: 
      - repo
      x-ratelimit-remaining: 
      - "4982"
      x-accepted-oauth-scopes: 
      - repo
    body: "[]"
  recorded_at: Sun, 15 Jan 2012 19:39:52 GMT
recorded_with: VCR 2.0.0.rc1
