---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-limit:
      - '5000'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 01 Aug 2012 19:38:30 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      last-modified:
      - Tue, 31 Jul 2012 06:09:16 GMT
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"8e1218a0c822681eb4f83e8835693f4d"'
      x-ratelimit-remaining:
      - '4985'
    body:
      encoding: ASCII-8BIT
      string: ! '{"followers":302,"type":"User","blog":"http://avdi.org/devblog/","bio":null,"public_repos":71,"gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","following":34,"location":"Pennsylvania,
        USA","login":"avdi","html_url":"https://github.com/avdi","name":"Avdi Grimm","email":"avdi@avdi.org","url":"https://api.github.com/users/avdi","public_gists":86,"created_at":"2008-02-26T19:54:34Z","company":"ShipRise","avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":982,"hireable":false}'
  recorded_at: Wed, 01 Aug 2012 19:38:32 GMT
recorded_with: VCR 2.2.4
