--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/
    body: ""
    headers: 
  response: 
    status: 
      code: 204
      message: 
    headers: 
      status: 
      - 204 No Content
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"d41d8cd98f00b204e9800998ecf8427e\""
      x-ratelimit-remaining: 
      - "4991"
    body: ""
  recorded_at: Sun, 15 Jan 2012 19:38:34 GMT
- request: 
    method: get
    uri: https://api.github.com/users/avdi
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"bd2349fc1bde922b61f07cdfeac7fc06\""
      x-ratelimit-remaining: 
      - "4990"
    body: "{\"type\":\"User\",\"created_at\":\"2008-02-26T19:54:34Z\",\"email\":\"avdi@avdi.org\",\"hireable\":false,\"url\":\"https://api.github.com/users/avdi\",\"login\":\"avdi\",\"bio\":null,\"followers\":181,\"following\":33,\"blog\":\"http://avdi.org/devblog/\",\"name\":\"Avdi Grimm\",\"public_repos\":61,\"location\":\"Pennsylvania, USA\",\"id\":982,\"public_gists\":72,\"html_url\":\"https://github.com/avdi\",\"company\":\"ShipRise\",\"gravatar_id\":\"4dea430d31b993abaf41cd9b54f8128d\",\"avatar_url\":\"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\"}"
  recorded_at: Sun, 15 Jan 2012 19:38:35 GMT
recorded_with: VCR 2.0.0.rc1
