---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-limit:
      - '5000'
    body: ''
  recorded_at: Sat, 21 Jul 2012 05:42:10 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      last-modified:
      - Sat, 14 Jul 2012 06:31:09 GMT
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"0b82161b269fe0da2da0c7f16a03b714"'
    body: ! '{"type":"User","login":"avdi","public_repos":70,"email":"avdi@avdi.org","hireable":false,"created_at":"2008-02-26T19:54:34Z","blog":"http://avdi.org/devblog/","public_gists":86,"following":34,"location":"Pennsylvania,
      USA","bio":null,"gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","name":"Avdi
      Grimm","avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":982,"followers":299,"html_url":"https://github.com/avdi","company":"ShipRise","url":"https://api.github.com/users/avdi"}'
  recorded_at: Sat, 21 Jul 2012 05:42:11 GMT
recorded_with: VCR 2.0.0.rc1
