---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4991'
    body: ''
  recorded_at: Tue, 19 Jun 2012 02:34:17 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"a447fbaa813a2678ffad5a4f505cbde4"'
      last-modified:
      - Wed, 23 May 2012 22:22:07 GMT
      x-ratelimit-remaining:
      - '4990'
    body: ! '{"type":"User","hireable":false,"login":"avdi","email":"avdi@avdi.org","avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","bio":null,"followers":274,"following":34,"gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","html_url":"https://github.com/avdi","created_at":"2008-02-26T19:54:34Z","location":"Pennsylvania,
      USA","public_gists":86,"company":"ShipRise","blog":"http://avdi.org/devblog/","url":"https://api.github.com/users/avdi","public_repos":69,"name":"Avdi
      Grimm","id":982}'
  recorded_at: Tue, 19 Jun 2012 02:34:18 GMT
- request:
    method: get
    uri: https://api.github.com/
    body: ! '{"body":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4991'
    body: ''
  recorded_at: Fri, 20 Jul 2012 17:36:24 GMT
recorded_with: VCR 2.0.0.rc1
