---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4967'
      x-ratelimit-limit:
      - '5000'
    body: ''
  recorded_at: Sat, 21 Jul 2012 05:42:21 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-accepted-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4966'
      x-oauth-scopes:
      - repo
      x-ratelimit-limit:
      - '5000'
      last-modified:
      - Sat, 21 Jul 2012 05:38:32 GMT
      etag:
      - ! '"a132e9d424b27c101304dfb05adadac3"'
    body: ! '{"collaborators":0,"type":"Organization","email":"avdi@shiprise.net","created_at":"2011-10-27T20:49:51Z","public_gists":0,"followers":0,"private_gists":0,"billing_email":"avdi@shiprise.net","html_url":"https://github.com/ShipRise","disk_usage":22520,"total_private_repos":5,"name":"ShipRise","owned_private_repos":5,"following":0,"company":null,"blog":"http://shiprise.net","location":null,"id":1156570,"login":"ShipRise","plan":{"space":2516582,"name":"bronze","private_repos":10},"public_repos":0,"avatar_url":"https://secure.gravatar.com/avatar/6dd3c12e97a46ff08c358542cae955e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png","url":"https://api.github.com/orgs/ShipRise"}'
  recorded_at: Sat, 21 Jul 2012 05:42:21 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise/teams
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4965'
      last-modified:
      - Mon, 09 Jul 2012 22:52:35 GMT
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - repo
      etag:
      - ! '"ae0dfae72ca6d563953a4ca8f906e03b"'
    body: ! '[{"permission":"push","name":"BitBindery Development","id":111894,"url":"https://api.github.com/teams/111894"},{"permission":"pull","name":"BitBindery
      Test Team","id":210238,"url":"https://api.github.com/teams/210238"},{"permission":"pull","name":"Leadlight
      Test Team","id":127491,"url":"https://api.github.com/teams/127491"},{"permission":"pull","name":"Objects
      on Rails Readers","id":176711,"url":"https://api.github.com/teams/176711"},{"permission":"admin","name":"Owners","id":104018,"url":"https://api.github.com/teams/104018"},{"permission":"push","name":"Publishing","id":154780,"url":"https://api.github.com/teams/154780"},{"permission":"pull","name":"ShipRise
      Internal","id":148656,"url":"https://api.github.com/teams/148656"}]'
  recorded_at: Sat, 21 Jul 2012 05:42:22 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/shiprise
    body: ''
    headers:
      Authorization:
      - <AUTH FILTERED>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-remaining:
      - '4964'
      last-modified:
      - Sat, 21 Jul 2012 05:38:32 GMT
      x-ratelimit-limit:
      - '5000'
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - repo
      etag:
      - ! '"a132e9d424b27c101304dfb05adadac3"'
    body: ! '{"total_private_repos":5,"type":"Organization","email":"avdi@shiprise.net","private_gists":0,"created_at":"2011-10-27T20:49:51Z","blog":"http://shiprise.net","owned_private_repos":5,"followers":0,"public_repos":0,"company":null,"disk_usage":22520,"plan":{"space":2516582,"private_repos":10,"name":"bronze"},"html_url":"https://github.com/ShipRise","collaborators":0,"name":"ShipRise","billing_email":"avdi@shiprise.net","following":0,"location":null,"avatar_url":"https://secure.gravatar.com/avatar/6dd3c12e97a46ff08c358542cae955e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-orgs.png","id":1156570,"login":"ShipRise","public_gists":0,"url":"https://api.github.com/orgs/ShipRise"}'
  recorded_at: Sat, 21 Jul 2012 05:42:22 GMT
recorded_with: VCR 2.0.0.rc1
