---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body: ''
    headers:
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4975'
    body: ''
  recorded_at: Mon, 18 Jun 2012 00:35:36 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"a447fbaa813a2678ffad5a4f505cbde4"'
      last-modified:
      - Wed, 23 May 2012 22:22:07 GMT
      x-ratelimit-remaining:
      - '4974'
    body: ! '{"type":"User","login":"avdi","email":"avdi@avdi.org","html_url":"https://github.com/avdi","followers":274,"following":34,"gravatar_id":"4dea430d31b993abaf41cd9b54f8128d","public_repos":69,"created_at":"2008-02-26T19:54:34Z","location":"Pennsylvania,
      USA","hireable":false,"company":"ShipRise","blog":"http://avdi.org/devblog/","url":"https://api.github.com/users/avdi","public_gists":86,"bio":null,"name":"Avdi
      Grimm","avatar_url":"https://secure.gravatar.com/avatar/4dea430d31b993abaf41cd9b54f8128d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":982}'
  recorded_at: Mon, 18 Jun 2012 00:35:36 GMT
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"7517c3c14d252bd1d711127fe33f161c"'
      last-modified:
      - Sun, 17 Jun 2012 16:07:17 GMT
      link:
      - <https://api.github.com/users/avdi/followers?page=2>; rel="next", <https://api.github.com/users/avdi/followers?page=10>;
        rel="last"
      x-ratelimit-remaining:
      - '4973'
    body: ! '[{"avatar_url":"https://secure.gravatar.com/avatar/0176d9564601b43d75aff59f2cceed88?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"cypher","gravatar_id":"0176d9564601b43d75aff59f2cceed88","url":"https://api.github.com/users/cypher","id":978},{"a[...]
- request:
    method: get
    uri: https://api.github.com/users/avdi/followers?page=2
    body: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"3c8d8021022f1a100e879cb57e41eb1f"'
      last-modified:
      - Sun, 17 Jun 2012 23:56:51 GMT
      link:
      - <https://api.github.com/users/avdi/followers?page=3[...]
